.grid-container {
    display: grid;
    gap: 8px;
    margin-left: 8px;
    margin-right: 0;
    transition: height 0.5s;
    grid-template: 
        "g-body g-image" auto
        "g-console g-console" auto
        "g-controls g-controls" min-content / auto auto auto;
}

.grid-console {
    grid-area: g-console;
}

.grid-image {
    grid-area: g-image;
    top:0;
    right: 0;
}

.grid-body {
    grid-area: g-body;
}

.grid-controls {
    height: 100%;
    width: 100%;
    grid-area: g-controls;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    bottom: 0;
    box-sizing: border-box;
}

.local-text {
    color: #deb887b0;
    margin-top: 4px;
}

p-button {

    &.other {
        margin-right: 0;
    }

    &.close {
        margin-left: 0;
    }
}