node_modules
.gitignore

cardinal_toe_app/.vscode/** 
cardinal_toe_app/.angular/**
cardinal_toe_app/.editorconfig
cardinal_toe_app/.angular/**
cardinal_toe_app/angular.json
cardinal_toe_app/node_modules/**
cardinal_toe_app/dist
cardinal_toe_app/tmp
cardinal_toe_app/out-tsc
cardinal_toe_app/bazel-out
npm-debug.log
yarn-error.log
*.launch
*.sublime-workspace