<p-dialog [(visible)]="display" [modal]="true" [closable]="false" [draggable]="false"
[style]="{
    width: '50vw',
    height: '50vh',  
    color: 'brown', 
    padding: '16px',  
    background: '#f4a460',  
    border: '4px solid #6e3030',  
    borderRadius: '16px'
}">
    
    <div class="grid-container">

        <div class="grid-body">
            <h2 class="location italic">The {{scene | titlecase}}</h2>
            <br>
            <p>{{blurb}}</p>
        </div>

        <div class="grid-image">
            <img src="../../../assets/images/locations/{{id}}.jpeg" class="framed100 brown-border4">
        </div>

        <div class="grid-controls">
            <div class="flexbox">
                <p-button styleClass="popup-button" type="button" label="go" (click)="goToDestination()"></p-button>
                <p-button styleClass="popup-button" type="button" label="close" (click)="closePopup()"></p-button>
            </div>
        </div>
    </div>
</p-dialog>
