<p-dialog [(visible)]="display" [modal]="true" [closable]="false" [draggable]="false"
    [style]="{
        width: '50vw',
        height: 'max-content',  
        color: '#deb887', 
        padding: '16px',  
        background: '#6e3030',
        border: '4px solid #371818',
        overflow: 'hidden'
    }">
        
        <div class="grid-container">

            <div class="grid-body">
                <h2 class="italic"
                    *ngIf="localDestination">The {{localDestination.name | titlecase}}</h2>
                <p
                    *ngIf="localDestination">{{localDestination.blurb ?? localDestination.description}}</p>
            </div>

            <div class="grid-image">
                <img 
                    *ngIf="localDestination"
                    src="../../../assets/images/locations/{{localDestination.id}}.jpeg" class="framed100 brown-border4" />
            </div>

            <div class="wrapper grid-controls">

                <!-- Search button in control panel, if currentLocation, canSearch -->
                <p-button styleClass="popup-button other" type="button" label="Search" [disabled]="canSearch"></p-button>

                <!-- Go-to button in control panel, if NOT currentLocation, canGo -->
                <p-button styleClass="popup-button other" type="button" label="Go-to" [disabled]="canGo" (click)="goToDestination()"></p-button>
            
                <!-- Close pop-up button in control panel-->
                <p-button styleClass="popup-button close" type="button" label="Close" (click)="closePopup()"></p-button>

            </div>

        </div>
</p-dialog>