* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a52a2a;
    font-size: 16px;
    background-color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

img {
    border: solid 4px #6e3030;
    border-radius: 16px;
}

p {
    line-height: 2;
    white-space: pre-wrap;
}

a {
    color: #a52a2a;

    &:hover {
        color: #6e3030;
        text-decoration: none;
    }
}

.italic {
    font-style: italic;
}

.dark {
    color: #6e3030;
}

.pad8 {
    padding: 8px;
}

.pad16 {
    padding: 16px;
}

.pad32 {
    padding: 32px;
}

.aCentre {
    align-items: center;
}

.wrapper  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.framed100 {
    object-fit:cover;
    height: 100px;
    width: 100px;
}

.framed200{
    object-fit:cover;
    height: 200px;
    width: 200px;
}

.framed300{
    object-fit:cover;
    height: 300px;
    width: 300px;
}