.nav-bar {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

a {
    display: flex;
    background-color: sandybrown;
    padding: 6px;
    margin: 6px;    
    border: solid brown 1px;
    border-radius: 8px;
}