<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="!previouslySearched && currentLocation.landmarks.length === 0">
    <p>You search high and low, traveller. But alas, you find nothing with which to interact.</p>
  </ng-container>

  <ng-container *ngSwitchCase="!previouslySearched && currentLocation.landmarks.length !== 0">
    <p *ngFor="let landmark of currentLocation.landmarks; index as i">
      {{ landmarksStringArray[i] }}<span (click)="op.toggle($event)" class="item">{{ landmark.name }}</span>!
    </p>
  </ng-container>

  <ng-container *ngSwitchCase="previouslySearched && currentLocation.landmarks.length === 0">
    <p>You found nothing of interest last time you were here.</p>
  </ng-container>

  <ng-container *ngSwitchCase="previouslySearched && currentLocation.landmarks.length !== 0">
    <p>You recognise this place. Here, you previously found:</p>
    <ul>
      <li *ngFor="let landmark of currentLocation.landmarks"><span (click)="op.toggle($event)" class="item">{{ landmark.name | titlecase }}</span>.</li>
    </ul>
  </ng-container>
</ng-container>

<p-overlayPanel #op></p-overlayPanel>
