.nav-bar {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

a {
    display: flex;
    justify-content: center;
    background-color: #f4a460;
    color: brown;
    padding: 6px;
    margin: 6px;    
    border: solid #6e3030 1px;
    border-radius: 8px;
    text-decoration: none;
    
    &:hover {
        color: #6e3030;
        font-style: italic;
    }

    &.active-link {
        background-color: #6e3030;
        color: #f4a460;
        border: solid 1px transparent;
        pointer-events: none;
        cursor: default;
    }
}   