.grid-container {
    display: grid;
    gap: 16px;
    grid-template: 
        "head-img head-title" 200px
        "body body" auto / 200px auto;
}

.content-img {
    grid-area: head-img;
}

.content-title {
    grid-area: head-title;
}

.content-body {
    grid-area: body;
}


.location:hover, .person:hover, .item:hover {
    cursor: help;
    text-decoration: underline;
}