<div class="grid-container">

    <div class="content-img">
        <img class="framed200 brown-border4" src="../../../assets/images/locations/{{node.id}}.jpeg" />
    </div>

    <div class="content-title wrapper flexbox-left">
        <h1 class = "location italic" (click)="openLocationMenu(node, true)">The {{node.name | titlecase }}</h1>
    </div>

    <div class="content-body">
        <p>{{node.description | paragraph}}</p>

        <p>{{destinationText}}<ng-template ngFor let-destination [ngForOf]="destinationObjectsArray" let-i="index">     
            <span class="location" (click)="openLocationMenu(destination, false)">{{destination.name}}</span>
            <span *ngIf="i === destinationObjectsArray.length - 1">.</span>
            <span *ngIf="i === destinationObjectsArray.length - 2">, or a </span>
            <span *ngIf="i < destinationObjectsArray.length - 2">, a </span>
        </ng-template>
        </p>
    </div>

</div>

<app-location-menu 
    [display]="locationMenuDisplay"
    [selectedDestination]="selectedDestination"
    [currentLocation]="currentLocation"
    (changeDisplay)="changeLocationMenuDisplay($event)"
    (changeLocation)="newLocation($event)"></app-location-menu>