.location {
    color: green;

    &:hover {
        cursor: pointer;
    }
}

.person {
    color: blue;

    &:hover {
        cursor: pointer;
    }
}

.grid-container {
    display: grid;
    gap: 16px;
    grid-template: 
        "head-img head-title" 100px
        "body body" auto / 100px auto;
}

.content-img {
    grid-area: head-img;
}

.content-title {
    grid-area: head-title;
}

.content-body {
    grid-area: body;
}