@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.grid-display {
    width: 100%;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template: 
        "header header" 60px
        "first-panel second-panel" auto
        "footer footer" 60px / 15% auto;
    background-color: burlywood;
    gap: 0;
}   

app-header {
    grid-area: header;
    border: solid 1px #000;
}
app-nav {
    grid-area: first-panel;
    border: solid 1px #000;
}
.main {
    grid-area: second-panel;
    max-height: min-content;
    border: solid 1px #000;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    text-wrap: wrap;

    ::-webkit-scrollbar {
        display: none;
    }
}

app-footer {
    grid-area: footer;
    border: solid 1px #000;
}