.nav-bar {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #8d4122;
    height: 100%;
}

a {
    display: flex;
    justify-content: center;
    background-color: #a52a2a;
    color: #deb887;
    padding: 12px 4px 12px 4px;
    font-size: 24px;
    margin: 8px;    
    border: outset #6e3030 4px;
    text-decoration: none;
    transition: 0.2s;
    
    
    &:hover {
        color: #E08649;
        border-color: #E08649;
        cursor: pointer;
    }

    &.active-link {
        background-color: #6e3030;
        color: #371818;
        border: inset 4px #532424;
        pointer-events: none;
        cursor: default;
    }

    &:active {
        border: solid 4px #1C0C0C;
        transform: scale3d(0.95, 0.95, 0.95);
    }
}   

.links {
    display: flex;
    height:auto;
    width:auto;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: auto;
    height: max-content;
}

p {
    display: flex;
    align-self: center;
    color: #deb887;
    text-align: center;
}