<div class="nav-bar">
    <a [routerLink]="['/info']" routerLinkActive="active-link">HOME</a>
    <a [routerLink]="['/content']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">PLAY</a>
    <a [routerLink]="['/some_made_up_URL']" routerLinkActive="active-link">*ERROR*</a>
    <div class="wrapper links">
        <p>Github Links:</p>
        <a class="github" href="https://github.com/DrBenSullivan/Cardinal_Toe" target="_blank">Cardinal_Toe</a>
        <a class="github" href="https://github.com/DrBenSullivan" target="_blank">B Sullivan</a>
        <a class="github" href="https://github.com/KarlSMinton" target="_blank">K Minton</a>
    </div>
</div>